html {
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
}

body {
  min-height: 100vh !important;
  min-height: -webkit-fill-available;
  color: #323264;
}

a {
    color: #323264;
}

.pointer{
    cursor: pointer;
}

.previous, .next{
    text-decoration: none !important;
    display: inline-block;
    padding: 8px !important;
    height: 40px !important;
    width: 40px !important;
    cursor: pointer;
    color: #f3f3f3;
}

.scrolly{
    overflow-y: auto !important;
}

.scrollx{
    overflow-x: scroll !important;
}

.menulist{
    background-color: #323264;
    min-height: 5vh !important;
    border-bottom: solid white 1px;
    padding-left: 2%;
}

.menulist a, .menulist h5{
    color: white;
    font-style: italic;
}

.menulist ul{
    display: inline-flex;
}

.menulist li{
    padding-right:2%;
}

.menulist .s3{
    padding-top: 20px;
}

.navpanel{
    height: 100%;
    top: 0;
    left: 0;
    border-right: solid 1px #f3f3f3;
    background-color: #323264;
    padding-top: 5vh !important;
}

.sidenav{
    top: 0;
    left: 0;
    border-right: solid 1px #f3f3f3;
    background-color: #323264;
    padding-top: 5vh !important;
}

.sidenav .s12{
    margin: 5vh auto !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.sidenav a, .navpanel a, .navpanel div{
    color: #f3f3f3 !important;
    font-size: 20px;
}

.navpanel .m12 {
    margin: 2vh auto !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    box-shadow: none !important;
}

.navpanel i, .sidenav i{
    color: #f3f3f3;
    font-size: 30px;
}

.sidenav i{
    margin-right: 15px;
}

.content{
    background-color: #f0f0f0;
}

.mobilepanel{
  overflow: hidden;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8vh;
  background-color: #323264;
  margin-bottom: 0 !important;
}

.mobilepanel .s4{
    margin-top: 3vh !important;
}

.mobilepanel i{
    color: #f3f3f3;
    font-size: 1.6rem;
}

.full-height {
    top:0 !important;
    min-height: 100vh !important;
}

.m-auto{
    margin-left: auto !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.m-0{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p-0{
    padding: 0 !important;
}

.contentrow{
    margin: 1vh 0 !important;
    min-height: 60vh;
    max-height: 60vh;
    position: relative !important;
    overflow-y: auto;
    border-bottom: outset 2px;
    border-right: outset 2px;
    border-color: #323264;
}

.sup-info{
    text-align: left !important;
    border: 2px dotted #505050;
}

th{
    position: sticky !important;
    top: 0;
    margin-top: 0;
    background:#323264 ;
    color: #f3f3f3;
    border-radius: 0;
    font-size: 100%;
    height: 5vh !important;
}

tr, td{
    padding: 5px auto !important;
    white-space: nowrap;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 0;
    width: 100% !important;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #323264;
}

.action-btn{
    margin-top: 1%;
    position: relative;
    text-align: left;
}

.add-btn{
    height: 40px;
    width: 40px;
}

#newsupplier, #rgst-mat, #confirmation{
    max-width: 75% !important;
} 

.modal-content h4{
    margin: 0px;
    padding: 15px;
    background-color: #323264;
    color: #f3f3f3;
}

.modal-content h6{
    padding-left: 10% !important;
}

.modal_message{
    margin-top: 20%;
}

.modal_short{
    margin: 50px 0 !important;
}

.btn-flat{
    background-color: #323264;
    color: #f3f3f3;
}

.dropdown-content{
    left: 0 !important;
    top: 0 !important;
}

.dropdown-content li{
    min-height: 0 !important;
    padding: 0 !important;
    clear: both;
    color: #323264;
    cursor: pointer;
    line-height: 1.5rem;
    width: 100%;
    text-align: left;
}


.dropdown-content li>span{
    color: #323264 !important;
    min-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
    
.dropdown-content li>a{
    font-size: 12px !important;
    min-height:0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

.hidden_form{
    display: none;
    overflow-y: auto;
}

#add_purchase_item{
    margin-bottom: 2vh !important;
}

.fa-times{
    color: red;
    cursor: pointer;
}

.btn_confirm{
    padding: 5vh !important;
}

#new_product a, .modal-footer{
    background-color: #323264 !important;
    color: #f3f3f3;
}