{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('inventory_list') }}" ><h5>Inventory</h5></a></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href="{{ url_for('materials_request') }}" >Materials Request</a></li>
            <li class="col"><a class="modal-trigger" href="#rgst-mat">New Material</a></li>
        </ul>
    </div>
    <div class="contentrow">
        <div class="scrollx">
            <table id="puoitems" class="centered">
                <thead>
                    <tr>
                        <th>Material ID</th>
                        <th>Material Description</th>
                        <th>In Inventory</th>
                        <th>In Request</th>
                        <th>Details</th>
                    </tr>
                </thead>
            {% for inventory in inventory %}
                <tbody>
                    <tr>
                        <td>{{ inventory[0].material_id }}</td>
                        <td>{{ inventory[0].material_description }}</td>
                        <td>{{ inventory[0].material_qty }} {{ inventory[0].material_unit }}</td>
                        <td>{{ inventory[1] }} {{ inventory[0].material_unit }}</td>
                        <td><a href="{{ url_for('material_info', name = inventory[0].material_description) }}"><i class="far fa-file-alt"></i></a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
    <div id="rgst-mat" class="modal grey lighten-5">
        <div class="modal-content p-0">
            <h4 class="center">Register New Material</h4>
            <div class="row m-0">
                <form class="col s12 center modal_short" method="POST" action="{{ url_for('inventory_list') }}" >
                    <div class="row m-0">
                        <ul>
                            <li class="col s12 m8 offset-m2"><input placeholder="Material Description" id="material_description" name="material_description" type="text" class="validate" required></li>
                            <li class="col s12 m8 offset-m2">
                                <select id="material_units" name="material_unit" type="text" class="validate" required>
                                    <option value="" disabled selected>Material Each Unit</option>
                                    <option value="un">un (unit)</option>
                                    <option value="kg">kg (kilogram) </option>
                                    <option value="ml">ml (miliitre) </option>
                                </select>
                            </li>
                        </ul>
                    </div>
                    <div class="row m-0 modal_short">
                        <div class="col s12 m8 offset-m2 center">
                            <div class="col s6">
                                <button class="modal-close btn-flat">Cancel</button>
                            </div>
                            <div class="col s6">
                                <button class="btn-flat" type="submit">Confirm</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
