{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('inventory_list') }}" ><h5>Inventory</h5></a></li>
            <li class="left-align"><h5>/</h5></li>
            <li class="left-align"><h5>{{inventory.material_description}}</h5></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href ="{{ url_for('purchases') }}" >Purchases</a></li>
            <li class="col"><a href ="{{ url_for('suppliers') }}" >Suppliers</a></li>
        </ul>
    </div>  
    <div class="contentrow">
        <div class="scrollx">
            <table id="supplier_items" class="centered">
                <thead>
                    <tr>
                        <th>In Request</th>
                        <th>In Inventory</th>
                        <th>In Purchases</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer">
                        <td>From Material Request</td>
                        <td>{{inventory.material_qty}}</td>
                        <td>{{total}}</td>
                        <td>{{inventory.material_qty|int + total|int}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row m-0">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Suppliers</th>
                    </tr>
                </thead>
                {% for supplier in suppliers %}
                    <tbody>
                        <tr>
                            <td><a href = "{{ url_for('supplier_info', supplier = supplier.supplier_name) }}">{{supplier.supplier_name}}</a></td>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
        <div class="row m-0">
            <div class="col s8 offset-s2 center">
                <a class="modal-trigger" href="#add_toSupplier"><i class="fas fa-plus"></i> Add Material to a New Supplier</a>
            </div>
        </div>
    </div>
    <div id="add_toSupplier" class="modal modal-fixed-footer grey lighten-5">
        <div class="modal-content p-0">
            <h4 class="center">Add Material</h4>
             <div class="row m-0">
                <form class="col s12 modal_short" method="POST" action="{{ url_for('material_info', name=inventory.material_description ) }}" >
                    <div class="input-field col s12 m8 offset-m2">
                        <input  id="material_description" name="material_description" type="text" class="hidden_form" value="{{ inventory.material_description }}" required>
                        <select id="supplier_name" name="supplier_name" type="text" class="validate" required>
                            <option class="col s12" value="" disabled selected>Select Supplier</option>
                            {% for supplier in supplier %}
                                <option class="col s12" value="{{supplier.supplier_name}}">{{ supplier.supplier_name }}</option>
                            {% endfor %}
                        </select>
                        <input placeholder="Price" id="supplier_products_price" name="supplier_products_price" type="text" class="validate" required>
                        <input placeholder="kg / ml / un" id="supplier_products_each" name="supplier_products_each" type="text" value="{{inventory.material_unit}}" class="hidden_form">
                    </div>
                    <div class="row m-0">
                        <div class="col s12 m8 offset-m2">
                            <div class="col s6 center modal_short">
                                <button class="modal-close btn-flat">Cancel</button>
                            </div>
                            <div class="col s6 center modal_short">
                                <button class="btn-flat" type="submit">Confirm</button>
                            </div>
                        </div>
                    </div> 
                </form>
            </div>
        </div>
    </div>
{% endblock %}
