{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('materials_request') }}" ><h5>Materials Request</h5></a></li>
            <li class="left-align"><h5>/</h5></li>
            <li class="left-align"><h5>Order ID #{{ request.matrequest_id }}</h5></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href="{{ url_for('inventory_list') }}" >Inventory</a></li>
            <li class="col"><a href="{{ url_for('production_orders') }}" >Production Orders</a></li>
        </ul>
    </div>  
    <div class="contentrow">
        <div class="row m-0">
            <div class="scrollx">
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date of Request</th>
                            <th>Product</th>
                            <th>Production Order Id</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ request.matrequest_id }}</td>
                            <td>{{ request.matrequest_date }}</td>
                            <td>{{ request.matrequest_product }}</td>
                            <td>{{ request.matrequest_prdorder_id }}</td>
                            <td>{{ request.matrequest_status }}</td>
                            <td>
                                {% if request.matrequest_status == "Pending" %}
                                    {% if status == True %}
                                        <a href="{{ url_for('approve_request', matrequest_id = request.matrequest_id, matrequest_prdorder_id = request.matrequest_prdorder_id)}}">Approve Request</a>
                                    {% else %}
                                        Pending Materials
                                    {% endif %}
                                {% else %}
                                    Request Approved
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row m-0">
        </div>
        <div class="row m-0">
            <div class="col s12 center">
                <h5>Materials Requested</h5>
            </div>
            <div class="col s12 m8 offset-m2">
                <div class="scrollx">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Requested</th>
                                <th>In Inventory</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                    {% for item in items %}
                        <tbody>
                            <tr>
                                <td>{{ item[0] }}</td>
                                <td>{{ item[1] }}</td>
                                <td>{{ item[2] }}</td>
                                <td><a href="{{ url_for('material_info', name = item[0]) }}"><i class="far fa-file-alt"></i></a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
