{% extends "base.html" %}
{% block content %}
    <form class="col s12 m-0 p-0" method="POST" action="{{ url_for('new_product', product_type = product_type) }}" >
        <div class="menulist valign-wrapper m-0">
            <ul class="col s12 m-0">
                <li class="left-align"><a href = "{{ url_for('products') }}" ><h5>Products</h5></a></li>
                <li class="left-align"><h5>/</h5></li>
                <li class="left-align"><h5>New Product</h5></li>
                <li class="left-align"><h5>New Pack</h5></li>
            </ul>
        </div>
        <div class="menulist valign-wrapper m-0">
            <ul>
                <li class="col"><a href = "#" >Production Orders</a></li>
                <li class="col"><a href = "#" >Materials Request</a></li>
                <li class="col"><a href = "#" >New Pack</a></li>
                <li class="col"><a href = "#" >New Product</a></li>
            </ul>
        </div>
        <div class="contentrow">
            <div class="row">
                <div class="col s12 l6">
                    <div class="col s12">
                        <h5>Product Name</h5>
                    </div>
                    <div class="col m8 offset-m2">
                        <input placeholder="Product Name" id="new_product_name" name="new_product_name" type="text" class="validate" required>
                    </div>
                {% if product_type == 'pack' %}
                    <div class="col m8 offset-m2">
                        <div class="row">
                            <div class="col s12">
                                <select id="pack_product_name" name="pack_product_name" type="text" class="validate col m8 offset-m2 m-0" required>
                                    <option class="col s12 m-0" value="" disabled selected>Select Products</option>
                                    {% for product in products %}
                                        <option class="col s12 m-0" value="{{ product.product_name}},{{product.product_cost }}">{{ product.product_name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s3">
                                <input placeholder="QTY" id="pack_product_qty" name="pack_product_qty" type="number" class="validate" required>
                            </div>
                            <div class="col s9">
                                <div id="add_pack_product" class="waves-effect waves-green btn-small green">Add</div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col m8 offset-m2">
                        <div class="row">
                            <div class="col s12">
                                <h5>Product Materials</h5>
                            </div>
                            <div class="col s12">
                                <select class="validate" id="product_name" name="new_product_name" type="text" required>
                                    <option value="" disabled selected>Select Material</option>
                                    {% for material in inventory %}
                                        <option class="{{ material._id }}" value="{{ material._id }}">{{ material.material_description }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col s12 hidden_form">
                                {% for material in inventory %}
                                    <input id="{{ material._id }}" name="material_unit" type="material_unit" value="{{ material.material_unit }}" required>
                                {% endfor %}
                                <input id="product_cost" name="product_cost" type="number" class="validate col l8 offset-m2" value="0" required>
                            </div>
                        </div>
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <input placeholder="QTY" id="product_qty" name="product_qty" type="number" class="validate" required>
                            </div>
                            <span class="col s1" id="unit"></span>
                            <div class="col s9">
                                <div id="add_product" class="waves-effect waves-green btn-small green">Add</div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                </div>
                <div class="col s12 l6">
                    <table id="items_list" class="centered">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Qty</th>
                                {% if product_type == "pack" %}
                                    <th>Cost</th>
                                    <th>Total</th>
                                {% else %}
                                    <th>Each</th>
                                {% endif %}
                                <th>Remove</th>
                            </tr>
                        </thead>
                    </table>
                    {% if product_type == "pack" %}
                        <table class="centered">
                            <thead>
                                <tr>
                                    <th>Total</th>
                                    <th></th>
                                    <th></th>
                                    <th id="product_total">$ 0.00</th>
                                    <th></th>
                                </tr>
                            </thead>
                        </table>
                    {% endif %}
                </div>
            </div>
            <div class="row m-0 hidden_form">
                <div class="col s4 left">
                    <input id="new_product_items" name="new_product_items" type="text" required>
                    <input id="new_product_cost" name="new_product_cost" type="text" required>
                    <input id="new_product_qty" name="new_product_qty" type="text" required>
                    <input id="new_product_id" name="new_product_id" type="text" required>
                    <input id="new_product_total" name ="new_product_total" type="text" required>
                </div>
            </div>
            <div class="row m-0">
                <div class="col s8 offset-s2 btn_confirm">
                    <button class="waves-effect waves-green btn-small green" type="submit">Confirm</button>
                </div>
            </div>
        </div>
    </form>        

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-plus-inventory">
        <div class="col s12">
            <div class="col s6"><a class="modal-trigger" href="#rgst-mat">New Material</a></div>
            <div class="col s6"><a href="#">Purchase</a></div>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-search-inventory">
        <form>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s10">
                        <input type="text" placeholder="Search Material">
                    </div>
                    <div class="col s2 left-align">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>                
        </form>
    </div>

    <div class="row mobilepanel hide-on-med-and-up valign-wrapper m-0 p-0 center">
        <div class="col s12">
            <div class="col s4" id="plus-inventory"><a><i class="fas fa-plus"></i></a></div>
            <div class="col s4" id="search-inventory"><a href="#"><i class="fas fa-search"></i></a></div>
            <div class="col s4 caret-up"><a href="#"><i class="fas fa-caret-up"></i></a></div>
        </div>
        
    </div>

{% endblock %}
