{% extends "base.html" %}
{% block content %}
    <form class="col s12 m-0 p-0" method="POST" action="{{ url_for('new_purchase', selected_supplier = supplier) }}" >
        <div class="row tabrow valign-wrapper m-0">
            <ul class="col s8 m-0">
                <li class="left-align"><a href = "{{ url_for('purchases') }}" >Purchase Orders</a></li>
                <li class="left-align">></li>
                <li class="left-align"><a href = "{{ url_for('select_supplier') }}" >Select Supplier</a></li>
                <li class="left-align">></li>
                <li class="left-align">{{supplier}}</li>
            </ul>
            <div class="col s2 btndiv m-0">
                <button class="waves-effect waves-green btn-small green" type="submit">Confirm Purchase</button>
            </div>
        </div>
        <div class="contentrow">
            <div class="row m-0">
                <div class="col s12 m6">
                    <div class="input-field col s12">
                        <select id="puo_item_name" name="puo_item_name" type="text" class="validate" required>
                            <option value="" disabled selected>Select New Item</option>
                            {% for products in products_list %}
                                <option value="{{ products[0] }},{{ products[1] }}">{{products[0]}}</option>
                            {% endfor %}
                        </select>
                    </div>            
                    <div class="input-field col s12 m-0">
                        <input placeholder="Quantity" id="puo_item_qty" name="puo_item_qty" type="text" class="validate" required>
                    </div>
                    <div>
                        <div id="add_purchase_item" class="s1 waves-effect waves-green btn-small green m-0">Add</div>
                    </div>
                </div>
                <div class="col s12 m6">
                    <table id="items_list" class="centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th id="puo_total">$ 0.00</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>    
        <div class="row m-0 hidden_form">
            <div class="col s4 left">
                <input id="new_purchase_items" name="new_purchase_items" type="text" required>
                <input id="new_purchase_cost" name="new_purchase_cost" type="text" required>
                <input id="new_purchase_qty" name="new_purchase_qty" type="text" required>
                <input id="new_purchase_id" name="new_purchase_id" type="text" required>
                <input id="new_purchase_total" name ="new_purchase_total" type="text" required>
            </div>
        </div>
    </form>        

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-plus-inventory">
        <div class="col s12">
            <div class="col s6"><a class="modal-trigger" href="#rgst-mat">New Material</a></div>
            <div class="col s6"><a href="#">Purchase</a></div>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-search-inventory">
        <form>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s10">
                        <input type="text" placeholder="Search Material">
                    </div>
                    <div class="col s2 left-align">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>                
        </form>
    </div>

    <div class="row mobilepanel hide-on-med-and-up valign-wrapper m-0 p-0 center">
        <div class="col s12">
            <div class="col s4" id="plus-inventory"><a><i class="fas fa-plus"></i></a></div>
            <div class="col s4" id="search-inventory"><a href="#"><i class="fas fa-search"></i></a></div>
            <div class="col s4 caret-up"><a href="#"><i class="fas fa-caret-up"></i></a></div>
        </div>
        
    </div>

{% endblock %}
