{% extends "base.html" %}
{% block content %}
    <form class="col s12 m-0 p-0" method="POST" action="{{ url_for('new_purchase', supplier = suppliers.supplier_name) }}" >
        <div class="menulist valign-wrapper m-0">
            <ul class="col s12 m-0">
                <li class="left-align"><a href = "{{ url_for('purchases') }}" ><h5>Purchase Orders</h5></a></li>
                <li class="left-align"><h5>/</h5></li>
                <li class="left-align"><a href = "{{ url_for('select_supplier') }}" ><h5>New Purchase - Select Supplier / </h5></a></li>
                <li class="left-align"><h5> {{ suppliers.supplier_name }}</h5></li>
            </ul>
        </div>
        <div class="menulist valign-wrapper m-0">
            <ul>
                <li class="col"><a href = "{{ url_for('inventory_list') }}" >Inventory</a></li>
                <li class="col"><a href="{{ url_for('suppliers') }}" >Suppliers</a></li>
            </ul>
        </div>
        <div class="contentrow">
            <div class="row m-0">
                <div class="col s12 l6">
                    <div class="row">
                        <div class="col s8 offset-s2 sup-info">
                            <ul>
                                <li>Supplier: {{ suppliers.supplier_name }}</li>
                                <li>Address: {{ suppliers.supplier_address }}</li>
                                <li>Phone: {{ suppliers.supplier_phone }}</li>
                                <li>Email: {{ suppliers.supplier_email }}</li>
                                <li>Representative: {{ suppliers.supplier_rep }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col s8 offset-s2">
                        <div class="row">    
                            <div class="col s12">
                                <select id="puo_item_name" name="puo_item_name" type="text" class="validate" required>
                                    <option class="col s12" value="" disabled selected>Select New Item</option>
                                    {% for products in products_list %}
                                        <option class="col s12" value="{{ products[0] }},{{ products[1] }},{{ products[2] }}">{{products[0]}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div> 
                        <div class="row valign-wrapper">         
                            <div class="col s2">
                                <input placeholder="QTY" id="puo_item_qty" name="puo_item_qty" type="text" class="validate" required>
                            </div>
                            <span class="col s1" id="unit"></span>
                            <div class="col s9">
                                <div id="add_purchase_item" class="waves-effect waves-green btn-small green m-0">Add</div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col s12 l6">
                    <table id="items_list" class="centered">
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Qty</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Total</th>
                                <th></th>
                                <th></th>
                                <th id="puo_total">$ 0.00</th>
                                <th></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="row m-0 hidden_form">
                <div class="col s4 left">
                    <input id="new_purchase_items" name="new_purchase_items" type="text" required>
                    <input id="new_purchase_cost" name="new_purchase_cost" type="text" required>
                    <input id="new_purchase_qty" name="new_purchase_qty" type="text" required>
                    <input id="new_purchase_id" name="new_purchase_id" type="text" required>
                    <input id="new_purchase_total" name ="new_purchase_total" type="text" required>
                </div>
            </div>
            <div class="row m-0">
                <div class="col s8 offset-s2 btn_confirm">
                    <button class="waves-effect waves-green btn-small green" type="submit">Confirm Purchase</button>
                </div>
            </div>
        </div>
    </form>        

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-plus-inventory">
        <div class="col s12">
            <div class="col s6"><a class="modal-trigger" href="#rgst-mat">New Material</a></div>
            <div class="col s6"><a href="#">Purchase</a></div>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-search-inventory">
        <form>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s10">
                        <input type="text" placeholder="Search Material">
                    </div>
                    <div class="col s2 left-align">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>                
        </form>
    </div>

    <div class="row mobilepanel hide-on-med-and-up valign-wrapper m-0 p-0 center">
        <div class="col s12">
            <div class="col s4" id="plus-inventory"><a><i class="fas fa-plus"></i></a></div>
            <div class="col s4" id="search-inventory"><a href="#"><i class="fas fa-search"></i></a></div>
            <div class="col s4 caret-up"><a href="#"><i class="fas fa-caret-up"></i></a></div>
        </div>
        
    </div>

{% endblock %}
