{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('orders')}}" ><h5>Customer Orders</h5></a></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
       <ul>
           <li class="col"><a class="modal-trigger" href="#new_order" >New Order</a></li>
        </ul>
    </div>    
    <div class="contentrow">
        <div class="scrollx">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Order ID</th>
                        <th>Date of Request</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
            {% for order in orders %}
                <tbody>
                    <tr>
                        <td>{{ order.order_id }}</td>
                        <td>{{ order.order_date }}</td>
                        <td>{{ order.order_status }}</td>
                        <td><a href="{{ url_for('order_info', order_id = order.order_id) }}"><i class="far fa-file-alt"></i></a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
    <div id="new_order" class="modal grey lighten-5">
        <div class="modal-content p-0 m-0">
            <h4 class="center">New Order</h4>
            <div class="row m-0">
                <form class="col s12" method="POST" action="{{ url_for('new_order') }}" >
                    <div class="row m-0">
                        <h5 class="col s8 offset-s2 center">Customer Details</h5>
                        <ul class="center">
                            <li class="col s8 offset-s2"><input placeholder="Customer First Name" id="customer_fname" name="customer_fname" type="text" class="validate" value="" required></li>
                            <li class="col s8 offset-s2"><input placeholder="Customer Last Name" id="customer_lname" name="customer_lname" type="text" class="validate" value="" required></li>
                            <li class="col s8 offset-s2"><input placeholder="Customer Phone" id="customer_phone" name="customer_phone" type="text" class="validate" value="" required></li> 
                            <li class="col s8 offset-s2"><input placeholder="Customer Email" id="customer_email" name="customer_email" type="email" class="validate" value="" required></li>
                        </ul>
                    </div>
                    <div class="row m-0">
                        <div class="col s8 offset-s2">
                            <div class="col s6 center">
                                <button class="modal-close btn-flat">Cancel</button>
                            </div>
                            <div class="col s6 center">
                                <button type="submit" class="modal-close btn-flat">Confirm</button>
                            </div>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
{% endblock %}
