{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m-0">
            <li class="left-align"><a href = "#" ><h5>Products</h5></a></li>
        </ul>
    </div>
    <div class="menulist valign-wrapper m-0">
       <ul>
            <li class="col"><a href = "#" >Production Orders</a></li>
            <li class="col"><a href = "#" >Materials Request</a></li>
            <li class="col"><a class="modal-trigger" href="#new_product" >New Product</a></li>
        </ul>
    </div>    
    <div class="contentrow">
        <table class="centered">
            <thead>
                <tr>
                    <th>Product Name</th>
                    <th>Product Type</th>
                    <th>Cost</th>
                    <th>Details</th>
                </tr>
            </thead>
        {% for product in products %}
            <tbody>
                <tr>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_pack }}</td>
                    <td>$ {{ product.product_cost }}</td>
                    <td><a href="{{ url_for('product_info', name = product.product_name) }}"><i class="far fa-file-alt"></i></a></td>
                </tr>
            </tbody>
        {% endfor %}
        </table>
    </div>
    
    <div id="new_product" class="modal modal-fixed-footer grey lighten-5">
        <div class="modal-content p-0 m-0">
            <h4>Select Product Type</h4>
            <div class="row modal_message m-0">
                <div class="col s12 valign-wrapper">
                    <div class="col s6">
                        <a href="{{ url_for('new_product', product_type = 'Pack') }}" class="btn-large">New Pack</a>
                    </div>
                    <div class="col s6">
                        <a href="{{ url_for('new_product', product_type = 'Product') }}" class="btn-large">Single Product</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close btn-flat">Cancel</a>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-plus-inventory">
        <div class="col s12">
            <div class="col s6"><a class="modal-trigger" href="#rgst-mat">New Material</a></div>
            <div class="col s6"><a href="#">Purchase</a></div>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-search-inventory">
        <form>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s10">
                        <input type="text" placeholder="Search Material">
                    </div>
                    <div class="col s2 left-align">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>                
        </form>
    </div>

    <div class="row mobilepanel hide-on-med-and-up valign-wrapper m-0 p-0 center">
        <div class="col s12">
            <div class="col s4" id="plus-inventory"><a><i class="fas fa-plus"></i></a></div>
            <div class="col s4" id="search-inventory"><a href="#"><i class="fas fa-search"></i></a></div>
            <div class="col s4 caret-up"><a href="#"><i class="fas fa-caret-up"></i></a></div>
        </div>
        
    </div>

{% endblock %}
