{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('products') }}" ><h5>Products</h5></a></li>
            <li class="left-align"><h5>/</h5></li>
            <li class="left-align"><h5>{{ products.product_name }}</h5></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href="{{ url_for('production_orders') }}" >Production Orders</a></li>
            <li class="col"><a href="{{ url_for('materials_request') }}" >Materials Request</a></li>
            <li class="col"><a href = "{{ url_for('new_product', product_type = 'Pack') }}" >New Pack</a></li>
            <li class="col"><a href = "{{ url_for('new_product', product_type = 'Product') }}" >New Product</a></li>
        </ul>
    </div>  
    <div class="contentrow">
        <div class="row m-0">
            <div class="scrollx">
                <table class="centered">
                <thead>
                    <tr>
                        <th>In Orders</th>
                        <th>In Stock</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="pointer">
                        <td>From Orders</td>
                        <td>From Stock</td>
                        <td>Balance</td>
                    </tr>
                </tbody>
                </table>
            </div>
        </div>
        <div class="row m-0">
            <div class="scrollx">
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                {% for subproduct in products.sub_products %}
                    <tbody>
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td class="items_name">{{ subproduct }}</td>
                            <td class="items_qty">{{ products.sub_products_qty[loop.index-1] }}</td>
                            <td><a href="{{ url_for('product_info', name = subproduct) }}"><i class="far fa-file-alt"></i></a></td>
                        </tr>
                    </tbody>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="row m-0">
            <div class="col s12 center">
                <h5>Product Materials</h5>
            </div>
            <div class="col s12 m8 offset-m2">
                <div class="scrollx">
                    <table class="centered">
                        <thead>
                            <tr>
                                <th>Material</th>
                                <th>Quantity</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                    {% for item in items %}
                        <tbody>
                            <tr>
                                <td class="items_name">{{ item[0] }}</td>
                                <td class="items_qty">{{ item[1] }} {{ item[2] }}</td>
                                <td><a href="{{ url_for('material_info', name = item[0]) }}"><i class="far fa-file-alt"></i></a></td>
                            </tr>
                        </tbody>
                    {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}
