{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><h5>Purchase Orders</h5></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href = "{{ url_for('inventory_list') }}" >Inventory</a></li>
            <li class="col"><a href = "{{ url_for('suppliers') }}" >Suppliers</a></li>
            <li class="col"><a href = "{{ url_for('select_supplier') }}" >New Purchase</a></li>
        </ul>
    </div>
    <div class="contentrow">
        <div class="scrollx">
            <table class="centered">
                <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Date of Request</th>
                        <th class="hide-on-small-only">Supplier</th>
                        <th>Total</th>
                        <th>Status</th>
                        <th>Details</th>
                    </tr>
                </thead>
            {% for orders in puorders %}
                <tbody>
                    <tr>
                        <td>#{{ orders.puo_number}}</td>
                        <td>{{ orders.puo_date }}</td>
                        <td class="hide-on-small-only">{{ orders.puo_supplier}}</td>
                        <td>$ {{ orders.puo_total }}</td>
                        <td>{% if orders.puo_status == false %}
                                Pending
                            {% else %}
                                Received
                            {% endif%}
                        </td>
                        <td><a href="{{ url_for('purchase_info', puo_number = orders.puo_number) }}"><i class="far fa-file-alt"></i></a></td>
                    </tr>
                </tbody>
            {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
