{% extends "base.html" %}
{% block content %}
    <div class="menulist valign-wrapper m-0">
        <ul class="col s12 m10 m-0">
            <li class="left-align"><a href = "{{ url_for('purchases') }}" ><h5>Purchase Orders</h5></a></li>
            <li class="left-align"><h5>/</h5></li>
            <li class="left-align"><h5>New Purchase - Select Supplier</h5></li>
        </ul>
        <div class="col s3 m-0 hide-on-small-only">
            <div class="previous"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
        </div>
    </div>
    <div class="menulist valign-wrapper m-0">
        <ul>
            <li class="col"><a href = "{{ url_for('inventory_list') }}" >Inventory</a></li>
            <li class="col"><a href="{{ url_for('suppliers') }}" >Suppliers</a></li>
        </ul>
    </div>
    <div class="contentrow">
        <div class="menulist valign-wrapper center m-0">
            <h5 class="col s8 offset-s2">Select Supplier</h5>
        </div>
        <div class="scrollx">
            <table id="sup-tbl" class="centered">
                <thead>
                    <tr>
                        <th>Supplier</th>
                        <th>Phone</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    {% for supplier in suppliers %}
                        <tr>
                            <td>{{supplier.supplier_name}}</td>
                            <td>{{supplier.supplier_phone}}</td>
                            <td>{{ supplier.supplier_email}}</td>
                            <td>{{ supplier.supplier_rep }}</td>
                            <td><a href="{{ url_for('new_purchase', supplier = supplier.supplier_name) }}"><i class="fas fa-check"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
