{% extends "base.html" %}
{% block content %}
    <div class="row tabrow valign-wrapper m-0">
        <ul class="col s8 m-0">
            <li class="left-align"><a href = "{{ url_for('purchases') }}" >Purchase Orders ></a></li>
            <li class="left-align">New Purchase</li>
        </ul>
    </div>
    
    <div class="contentrow">
            <div class="row m-0 p-0">
                <div class="col s12">
                    <h3>Select a Supplier</h3>
                </div>
            </div>
            <div class="row m-0 p-0">
                <ul>
                {% for supplier in suppliers %}
                    <li class="col supplier-card">
                        <div class="card">
                            <div class="card-content white-text">
                                <span class="card-title">
                                    <a href="{{ url_for('selected_supplier', the_supplier = supplier.supplier_name) }}">{{supplier.supplier_name}}</a>
                                </span>
                            </div>
                        </div>
                    </li>
                {% endfor %}
                </ul>
            </div>


    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-plus-inventory">
        <div class="col s12">
            <div class="col s6"><a class="modal-trigger" href="#rgst-mat">New Material</a></div>
            <div class="col s6"><a href="#">Purchase</a></div>
        </div>
    </div>

    <div class="row mobilepanel-plus hide-on-med-and-up valign-wrapper m-0 center" id="mobilepanel-search-inventory">
        <form>
            <div class="row">
                <div class="col s12 valign-wrapper">
                    <div class="col s10">
                        <input type="text" placeholder="Search Material">
                    </div>
                    <div class="col s2 left-align">
                        <a href="#"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>                
        </form>
    </div>

    <div class="row mobilepanel hide-on-med-and-up valign-wrapper m-0 p-0 center">
        <div class="col s12">
            <div class="col s4" id="plus-inventory"><a><i class="fas fa-plus"></i></a></div>
            <div class="col s4" id="search-inventory"><a href="#"><i class="fas fa-search"></i></a></div>
            <div class="col s4 caret-up"><a href="#"><i class="fas fa-caret-up"></i></a></div>
        </div>
        
    </div>

{% endblock %}
